@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin circle($value) {
	width: $value;
	height: $value;
	border-radius: 50%;
}

// MEDIA QUERY MENAGER
/*
0 - 600px - Phone
600px - 900px - Tablet portrait
900px - 1200px - Tablet landscape
[1200 - 1800] - is a normal styles apply
1800px+  - Big desktop


breackpoint argument choise:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
// @mixin respond($breackpoint) {
// 	@if $breackpoint == phone {
// 		@media only screen and (max-width: 37.5em) {
// 			// 600px
// 			@content;
// 		}
// 	}
// 	@if $breackpoint == tab-port {
// 		@media only screen and (max-width: 56.25em) {
// 			//900px
// 			@content;
// 		}
// 	}
// 	@if $breackpoint == tab-land {
// 		@media only screen and (max-width: 75em) {
// 			// 1200px
// 			@content;
// 		}
// 	}
// 	@if $breackpoint == big-desktop {
// 		@media only screen and (min-width: 112.5em) {
// 			// 1800px
// 			@content;
// 		}
// 	}
// }
