// colors
$lgreen: #7ed56f;
$mgreen: #55c57a;
$dgreen: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7733;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

$color-white: #fff;
$color-black: #000;
$light-grey: #777;

// FONT
$base-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
